<h1><%= @comment.title %></h1>
<p><%= @comment.content %></p>
<p><b>Written by <%= @comment.commenter %></b></p>



<% if @comment.accepted %>
	<p>Approved | <%= link_to 'Deny', deny_post_comment_path(@comment.post, @comment), method: :patch %></p>
<% else %>
	<%= link_to 'Approve', accept_post_comment_path(@comment.post, @comment), method: :patch %>
<% end %>