<h1>Welcome to MediumLike</h1>
<ul>
  <% @posts.each do |post| %>
    <% if user_signed_in? %>
      <li>
        <%= link_to post.user.email, profile_path(post.user) %> created a new post at <%= post.created_at%>
      </li>
    <% else %>
      <li><%= post.title %> by <%= post.author %></li>
    <% end %>
  <% end %>

<% unless current_user.nil? %>
  <%= link_to 'Feedpage', feed_index_path %>
<% end %>
</ul>